@import url("https://fonts.googleapis.com/css?family=Spartan:400,700&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Spartan, sans-serif;
  font-size: 12px;
}

.player-container {
  height: 500px;
  width: 400px;
  background: #a8d5dd;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);
}

.img-container {
  width: 300px;
  height: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}

.img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 10px;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 5px 5px;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 100px 20px;
  height: 5px;
  width: 90%;
}

.volume-container {
  background:rgb(129, 129, 129);
  height: 10px;
  margin-top: 10px;
  width: 60px;
  border-radius: 10px;
  position: relative;
  left: 65%;
}

.volume-bar {
  background: #d16d6d;
  border-radius: 10px;
  height: 100%;
  width: 20%;
}

#volume-progress-handle {
  position: absolute;
  z-index: 1;
  margin-top: 0px;
  width: 10px;
  height: 10px;
  border-top-color: #d3d5df;
  border-right-color: #d3d5df;
  border-radius: 100%;
  background-color: rgb(221, 146, 202);
  cursor: pointer;
  left: 0%;

}

#volume-progress-handle:hover {
  width: 13px;
  height: 13px;
}

#audio-progress-handle {
  display: block;
  position: absolute;
  z-index: 1;
  margin-top: -3px;
  width: 10px;
  height: 10px;
  border-top-color: #d3d5df;
  border-right-color: #d3d5df;
  border-radius: 100%;
  background-color: rgb(221, 146, 202);
  cursor: pointer;
  left: 53.5%;
}

#audio-progress-handle:hover {
  width: 13px;
  height: 13px;
}

.draggable {
  float: left; margin: 0 10px 10px 0;
}

.progress {
  background: #d16d6d;
  border-radius: 5px;
  height: 100%;
  /* change this to show progress */
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -125px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-control {
  position: relative;
  top: -100px;
  left: 30px;
  width: 450px;
}

.fas {
  font-size: 25px;
  color: rgb(129, 129, 129);
  margin: 0 15px 0 15px;
  user-select: none;
}

.fas:hover {
  filter: brightness(50%);
  cursor: pointer;
}

#random {
  color: rgb(129, 129, 129);
  user-select: none;
  margin: 0 45px 0 5px;
}

#volume {
  color: rgb(129, 129, 129);
  user-select: none;
  margin-left: 30px;
}

.main-button {
  font-size: 30px;
  position: relative;
  top: 3px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }

  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-control {
    top: -100px;
    left: 10px;
  }
}
